.js-tooltip-onclick{cursor:pointer;}
.goshop-tooltip .tooltip-inner{
padding: .5rem 1rem;
color: #fff;
text-align: center;
background-color: #121317;
}
.goshop-tooltip.tooltip-fixed{
display:block !important;
}
.goshop-tooltip{
display:none;
position: fixed;
white-space: nowrap;
z-index: 99999;
padding-bottom: 1px;
font-size: 14px;

}
.goshop-tooltip a{ 
display:block;
color:inherit;
}
.goshop-tooltip .tooltip-arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
position: absolute;
left: 36px;
bottom: -2px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}